*{
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;
}

.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("3\ -\ Copy.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.btn{
    width: 10rem;
    border-radius: 35px;
    border: 2px solid white;
    background-color: transparent;
    color: dodgerblue;
    padding: 20px 10px;
    font-size: 20px;
    margin: 20px;
}
.btn:hover{
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
}
.envelope{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.subhead h1{
     text-align: center;
     color: dodgerblue;
     font-size: 35px;
}
.slide-containter{
 max-width: 1120px;
 width: 100%;
 padding: 0 40px;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
}
.card{
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.card-content a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #4070f4;
    padding: 10px;
}
.card-content a:hover{
    text-decoration: underline;
}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
   
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
     
}
.card-image{
    position: relative;
    width: 150px;
    height: 150px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;

}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070f4;
}
@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    
}